@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* INDEX STYLES  */

.header-content {
  background-image: url("/images/IN-LARGE-OFFICE-ENSCAPE-REV-0.webp");
  background-size: contain;
  background-repeat: no-repeat;

  background-position: center, top;
}
.h1-in {
  text-align: center;
}
.nav-in {
  background-image: url(/images/ls-in-img.gif);
  background-size: cover;
  background-repeat: no-repeat;
}
.row {
  display: flex;
  /* flex-wrap: wrap; */
  margin-right: -15px;
  margin-left: -15px;
  color: aliceblue;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
li {
  display: inline;
}
.flex-container > div {
  width: 100px;
  margin: 100px;
}
.div1-home {
  margin-top: 450px;
  color: black;
}
.div2-home {
  margin-top: 250px;
}
.span-home {
  margin-left: 251px;
}
.button-home {
  border: 1px solid blue;
  color: white;
  background-color: blue;
}
.divider-in {
  padding: 2px;
  margin: 2px;
  border-top: 1px solid black;
}
.h5-in {
  text-align: center;
}
.li-footer {
  padding: 2px;
  margin: 2px;
}
.div-sec-img {
  background-image: url(/images/ls-in-img.gif);
  background-size: cover;
  background-repeat: no-repeat;
}
.
/* PROJECTS STYLE */
.portimage {
  width: 177px;
  height: 277px;
  display: inline-flex;
  margin: 27px 17px;
}

.port-nav {
  position: static;
}
.port-header {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.port-header p {
  font-weight: 277px;
  font-family: Arial;
  font-size: 24px;
  text-align: center;
  color: blue;
  border: 7px solid #0066ff;
  border-radius: 17px;
  margin-right: 37px;
  margin-left: 17px;
  padding: 17px;
  text-shadow: 2px 2px 4px #a0d4ee;
  display: flex;
}
.port-video {
  display: flex;
  flex-direction: column;
  margin-left: 37px;
}
.port-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 27px;
}
.port {
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: relative;
  display: grid;
  gap: 27px 27px;
}

.port .port-item {
  position: relative;
}
.port img {
  height: 160px;
  width: 300px;
  border-radius: 75px;
  transition: 0.4s ease-in-out all;
}

.port .port-details {
  position: absolute;
  padding: 10px 5px;
  bottom: 0px;
  opacity: 0;
  transition: 0.4s ease-in-out all;
}

.port-details h1 {
  font-size: 18px;
  margin: 2px 0;
  color: blue;
}
.port-details p {
  font-size: 14px;
  color: blue;
}

/*  project section hover  */
.port-item:hover .port-details {
  opacity: 1;
  bottom: 10px;
}

.port-item:hover img {
  transform: scale(1.05);
  border-radius: 75px;
}

.port-item:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0);
}

.port-item:hover::before,
.port-item:hover::after {
  display: block;
  content: "";
  position: absolute;
  width: 317px;
  height: 187px;
  background: #fda8cf;
  border-radius: 97px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.port-item:hover:after {
  background: #2d2d93;
  animation: 2s counterclockwise infinite;
}
/* Controls the direction of the animation hover  counterclockwise attribute */
@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}
/* Controls the direction of the animation hover clockwise attribute */

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
.port-link {
  text-decoration: none;
}
@media (max-width: 600px) {
  .port {
    grid-template-columns: 1fr;
    gap: 0 10px;
  }
  .port-container {
    height: 210vh;
  }
}

/* ABOUT CSS */

.About-body {
  min-height: 100vh;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: rgb(10, 120, 245);
  height: 100px;

  position: fixed;
  width: 100%;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  font-size: 20px solid black;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:hover {
  background-color: rgb(101, 149, 252);
}

nav ul img {
  width: 100px;
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: lightgray;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
@media (max-width: 915px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

/* SIGNIN CSS */

.signin-body {
  background-color: #f6b1d2;
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/928173804382866130/569B2860EEE69C0EDB73CBB9AA60A6F3FE43F9C4/?imw=1024&imh=768&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true");
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
}

.form1 {
  margin: auto;
  border-radius: 10px;
  padding: 50px;
  width: 50%;
  max-width: 330px;
  border: 3px solid rgb(16, 16, 67);
  backdrop-filter: blur(100px);
}

.signin1 {
  color: rgb(149, 142, 174);
  text-align: center;
  font-size: 25px;
  padding-bottom: 20%;
}

.S-input1[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.S-input2[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.S-input1[type="text"],
.S-input2[type="text"] {
  background: transparent;
  border: 5px solid rgb(116, 137, 204);
}

.s-label1,
.s-label2 {
  justify-content: space-evenly;
  align-items: center;
  font-size: 13px;
  color: white;
}

.signin-button2 {
  width: 100%;
  max-width: 330px;
  align-items: center;
  background-color: #f6b1d2;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.signin-footer {
  text-align: center;
  width: 100%;
  color: rgb(79, 81, 135);
  position: fixed;
  bottom: 0;
  right: 0;
}
